body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'imbue', sans-serif;
  font-size: large;
  font-weight: 800;
  background: linear-gradient(white, orange, brown);
}

.tree-house {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 75;
  color: #d74b76;
}

.container {
  text-align: center;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
  font-size: 25px;
  color: aliceblue;
}

#text {
  border-radius: 5px;
}

form {
  background-color: #8ec5b7;
  padding: 150px, 150px, 150px, 150px;
  border-radius: 5px;
}

.licking-paw {
  margin-bottom: 0;
}

textarea {
  border: 2px dotted #111;
  width: 100%;
  height: 150px;
  resize: vertical;
  margin-top: -20;
  border-radius: 10px;
}

#submit {
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: aliceblue;
  background-color: #d74b76;
  transition: background-color 0.25;
}

#submit:hover {
  background-color: rgb(12, 162, 231);
}
